.inDev{
  position: absolute;
  transition: 0.3s;
  padding: 7px;
  border-radius: 5px;
  background: #4756DF;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  top: 0;
  left: 40px;
}
button{
  position: relative;
}